@import url('https://fonts.googleapis.com/css?family=El+Messiri');

/*
    First Color  : #eb6d2f
    Second Color : #ffd832
    Third Color  : #5a3733
*/
/* *{
    font-family: 'El Messiri', sans-serif !important;
} */
/* * {
    font-family: 'El Messiri', sans-serif !important;
} */

/* Start Global Style */
body {
    font-family: 'El Messiri', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'El Messiri', sans-serif !important;
    font-weight: 500;
 }

* {
    direction: rtl;
    text-align: center;
}

.section_gap {
    padding: 90px 0px; 
   }
/* End Global Style  */



/* Start Navbar */
.header_area .navbar .nav .nav-item .nav-link {
    font-size: 16px;
    font-family: 'El Messiri', sans-serif !important;
}
.header_area .navbar .nav .nav-item:last-child {
    margin-right: 28px;
}
.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
    color: #eb6d2f
}
.header_area .navbar .nav .nav-item .nav-link {
    color: #5a3733
}
/* End Navbar */


/* Start Footer */
.footer-bottom {
    padding-top: 30px;
}
/* End Footer */

